/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Nunito', sans-serif;
  color: #00887A;
}

a:hover {
  text-decoration: none;
}

body {
  background-image: url("./assets/images/wormz.png");
}

.text-picture-block {
  border: 3px solid #4A90E2;
  border-radius: 16px;
  display: flex;
  margin: 20px;
  box-shadow: -8px 8px 0px -3px white, -8px 8px 0px 0px #4A90E2;
}

.text-picture-block p {
  margin: 10px;
}

.text-picture-block img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 100px;
  object-fit: cover;
  width: 50%;
}

.text-block {
  border: 3px solid #FFCCBC;
  border-radius: 16px;
  margin: 20px;
  box-shadow: -8px 8px 0px -3px white, -8px 8px 0px 0px #FFCCBC;
}

.text-block p {
  margin: 10px;
}
