/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Nunito', sans-serif;
  color: #00887A;
}

a:hover {
  text-decoration: none;
}

body {
  background-image: url("./assets/images/wormz.png");
}
