<div class="header">
  <h2><span>out</span>box</h2>
  <ul>
    <li>mission</li>
    <li>membership</li>
    <li>events</li>
  </ul>
  <button>login</button>
</div>
<app-welcome></app-welcome>
<div class="footer">
  <ul id="footer-links">
    <li>careers</li>
    <li>contact</li>
    <li>123 Main St. Portland, OR 97225</li>
  </ul>
  <ul id="footer-social">
    <li><img src="./../../../images/instagram-logo.svg" alt="linked in logo"></li>
    <li><img src="" alt="instagram logo"></li>
    <li><img src="" alt="facebook logo"></li>
    <li><img src="" alt="twitter logo"></li>
  </ul>
</div>
