@import "./../../assets/global_sass";

.banner {
  display: flex;

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid $blue;
    box-shadow: -8px 8px 0px -3px white, -8px 8px 0px 0px $blue;
  }

}

.banner-left {
  h1 {
    font-family: 'Roboto Slab', serif;
  }

  button a {
    color: white;
    font-family: 'Roboto Slab', serif;
  }

  p span {
    font-weight: 900;
  }

}

.sign-up {
  background-color: $pink;
  border-radius: 4px;
}

.text-picture-block:nth-child(3) {
  flex-direction: row-reverse;

  img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
  }

}

@media screen and (max-width: 675px) {
  .banner {

    img {
      width: 280px;
      height: 280px;
      box-shadow: -5px 5px 0px -3px white, -5px 5px 0px 0px $blue;
    }

  }
}

@media screen and (max-width: 600px) {
  .text-picture-block:nth-child(3) {
    flex-direction: column;

    img {
      border-top-left-radius: 13px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 13px;
      border-bottom-right-radius: 0px;
    }
  }
}

@media screen and (max-width: 575px) {
  .banner {
    flex-direction: column-reverse;
  }
}

// one more at 500 for top thing
