<div class="banner">
  <div class="banner-left">
    <h1>live/<br>work/<br>play/<br>whatever</h1>
    <button class="sign-up"><a routerLink="/signup">sign up</a></button>
    <p>Whatever you do, you can do here at <span>outbox</span>. We have all the amenities you need to finish your novel or launch your small business. Perspiciatis underm omnis iste natus error sit voluptatem for a accusantium doloremque laudantium.</p>
  </div>
  <div class="banner-right">
    <img id="banner-img" src="./../../assets/images/pic1.png" alt="banner image">
  </div>
</div>
<div class="info-block">
  <div class="text-picture-block">
    <img src="./../../assets/images/pic2.png">
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
  </div>
  <div class="text-block">
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. perspiciatis unde.</p>
  </div>
  <div class="text-picture-block">
    <img src="./../../assets/images/pic4.png">
    <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>
  </div>
</div>
