$bar-color: #77A6F7;

a {
  color: white;
}

.header {
  align-items: center;
  background-color: $bar-color;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 4px -10px;
}

.header h2 span{
  font-weight: bold;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header button {
  font-family: 'Roboto Slab', serif;
  background-color: #FFCCBC;
  border-radius: 4px;
}

.header button a {
  color: $bar-color;
}

.header ul li {
  margin: 10px;
}

.footer {
  align-items: center;
  background-color: $bar-color;
  border-radius: 10px;
  color: white;
  display: flex;
  margin: 4px -10px;
  width: 100%;
}

.footer ul {
  display: flex;
  list-style-type: none;
}

.footer ul li {
  margin: 10px;
}

.footer ul img {
  width: 30px;
}
