<div class="header">
  <h2><a routerLink=""><span>out</span>box</a></h2>
  <ul>
    <li>mission</li>
    <li>membership</li>
    <li>events</li>
  </ul>
  <button><a routerLink="login">login</a></button>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <ul id="footer-links">
    <li>careers</li>
    <li>contact</li>
    <li>123 Main St. Portland, OR 97225</li>
  </ul>
  <ul id="footer-social">
    <li><img src="./../assets/icons/linkedin-logo-button.svg" alt="linked in logo"></li>
    <li><img src="./../assets/icons/instagram-logo.svg" alt="instagram logo"></li>
    <li><img src="./../assets/icons/facebook-logo-button.svg" alt="facebook logo"></li>
    <li><img src="./../assets/icons/twitter-logo-button.svg" alt="twitter logo"></li>
  </ul>
</div>
