<div class="header">
  <h2><a routerLink=""><span>out</span>box</a></h2>
  <ul>
    <li><a routerLink="/mission">mission</a></li>
    <li><a routerLink="/membership">membership</a></li>
    <li><a routerLink="/events">events</a></li>
  </ul>
  <button><a routerLink="/login">login</a></button>
</div>
<div id="router">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <ul id="footer-links">
    <li><a routerLink="/careers">careers</a></li>
    <li>contact</li>
    <li>123 Main St. Portland, OR 97225</li>
  </ul>
  <ul id="footer-social">
    <li><img src="./../assets/icons/linkedin-logo-button.svg" alt="linked in logo"></li>
    <li><img src="./../assets/icons/instagram-logo.svg" alt="instagram logo"></li>
    <li><img src="./../assets/icons/facebook-logo-button.svg" alt="facebook logo"></li>
    <li><img src="./../assets/icons/twitter-logo-button.svg" alt="twitter logo"></li>
  </ul>
</div>
