<h3>Welcome Person!</h3>
<img id="member-photo" class="profile-left"
srcset="./../../assets/images/face-200.jpg.jpg 200w,
        ./../../assets/images/face-500.jpg.jpg 500w,
        ./../../assets/images/face-1000.jpg 1000w"
        src="./../../assets/images/face-1000.jpg">
<div class="profile-right">
  <p>Member Status</p>
  <p>Member Since: March 2018</p>
  <button class="upload">upload photo</button>
</div>
<h5>Upcoming Events</h5>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/yoga-200.jpg.jpg 200w,
            ./../../assets/images/yoga-500.jpg.jpg 500w,
            ./../../assets/images/yoga-1000.jpg 1000w"
            src="./../../assets/images/yoga-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="cancel">cancel</button></p>
</div>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/craft-200.jpg.jpg 200w,
            ./../../assets/images/craft-500.jpg.jpg 500w,
            ./../../assets/images/craft-1000.jpg 1000w"
            src="./../../assets/images/craft-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="cancel">cancel</button></p>
</div>
<h5>Past Events</h5>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/coffee-200.jpg.jpg 200w,
            ./../../assets/images/coffee-500.jpg.jpg 500w,
            ./../../assets/images/coffee-1000.jpg 1000w"
            src="./../../assets/images/coffee-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
</div>
