<h3>Welcome Person!</h3>
<img id="member-photo" class="profile-left" src="./../../assets/images/face.jpg">
<div class="profile-right">
  <p>Member Status</p>
  <p>Member Since: March 2018</p>
  <button class="upload">upload photo</button>
</div>
<h5>Upcoming Events</h5>
<div class="text-picture-block">
  <img src="./../../assets/images/yoga.jpg">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="cancel">cancel</button></p>
</div>
<div class="text-picture-block">
  <img src="./../../assets/images/craft.jpg">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="cancel">cancel</button></p>
</div>
<h5>Past Events</h5>
<div class="text-picture-block">
  <img src="./../../assets/images/coffee.jpg">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
</div>
