$blue: #4A90E2;
$pink: #FFCCBC;

#member-photo {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid $blue;
  box-shadow: -8px 8px 0px -3px white, -8px 8px 0px 0px $blue;
}

.upload, .cancel {
  background-color: $pink;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

button {
  font-family: 'Roboto Slab', serif;
}
