@import "./../../assets/global_sass";

* {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.plan-type {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

input, button {
  margin-top: 10px;
}
