<h3>Welcome!</h3>
<input type="text" placeholder="Username">
<input type="text" placeholder="Password">
<h5>Plan Type</h5>
<div class="button-group">
  <button class="plan-type">silver</button>
  <button class="plan-type">gold</button>
  <button class="plan-type">platinum</button>
</div>
<h5>Card Info</h5>
<input type="text" placeholder="Name on card">
<input type="text" placeholder="Card Number">
<input type="text" placeholder="Expiration Date">
<input type="text" placeholder="Security Code">
<button class="sign-up"><a routerLink="/account">sign up</a></button>
