@import "./../../assets/global_sass";

* {
  display: block;
  margin: 0 auto;
  text-align: center;
}

input {
  border: 3px solid $pink;
  border-radius: 3px;
  margin-top: 10px;
  width: 300px;
}

h5 {
  font-family: 'Roboto Slab', serif;
}

.button-group button{
  background-color: $pink;
  border-radius: 3px;
  color: white;
  display: inline;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Slab', serif;
}

.sign-up {
  background-color: $pink;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;

  a {
    color: white;
    font-family: 'Roboto Slab', serif;
  }

}
