$pink: #FFCCBC;

* {
  display: block;
  margin: 0 auto;
  text-align: center;
}

input {
  border: 3px solid $pink;
  border-radius: 3px;
  margin-top: 10px;
  width: 300px;
}

.login {
  background-color: $pink;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login a {
  color: white;
  font-family: 'Roboto Slab', serif;
}
