<h3>Events Calendar</h3>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/yoga-200.jpg.jpg 200w,
            ./../../assets/images/yoga-500.jpg.jpg 500w,
            ./../../assets/images/yoga-1000.jpg 1000w"
            src="./../../assets/images/yoga-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>
</div>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/craft-200.jpg.jpg 200w,
            ./../../assets/images/craft-500.jpg.jpg 500w,
            ./../../assets/images/craft-1000.jpg 1000w"
            src="./../../assets/images/craft-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>

</div>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/coffee-200.jpg.jpg 200w,
            ./../../assets/images/coffee-500.jpg.jpg 500w,
            ./../../assets/images/coffee-1000.jpg 1000w"
            src="./../../assets/images/coffee-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>

</div>
<div class="text-picture-block">
  <div class="img-container">
    <img
    srcset="./../../assets/images/lego-200.jpg.jpg 200w,
            ./../../assets/images/lego-500.jpg.jpg 500w,
            ./../../assets/images/lego-1000.jpg 1000w"
            src="./../../assets/images/lego-1000.jpg">
  </div>
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>

</div>
<button id="load-more">load more</button>
