<h3>Events Calendar</h3>
<div class="text-picture-block">
  <img src="./../../assets/images/pic1.png">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>
</div>
<div class="text-picture-block">
  <img src="./../../assets/images/pic1.png">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>

</div>
<div class="text-picture-block">
  <img src="./../../assets/images/pic1.png">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>

</div>
<div class="text-picture-block">
  <img src="./../../assets/images/pic1.png">
  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <button class="attend">attend</button></p>

</div>
<button>load more</button>
